build
.theos
Payload
.DS_Store
usprebooter.xcodeproj/xcuserdata
usprebooter.xcodeproj/project.xcworkspace/xcuserdata
FUCK.tipa
RootHelperSample/RootHelperSample.xcodeproj/xcuserdata
RootHelperSample/build
RootHelperSample/launchdshim/launchdhook/.theos
apple-include
