build
build/
.theos
Payload
.DS_Store
Serotonin.xcodeproj/xcuserdata/*
Serotonin.xcodeproj/project.xcworkspace/xcuserdata/*
Serotonin.xcodeproj/project.xcworkspace/xcuserdata/ibarahime.xcuserdatad
*.ipa
*.tipa
RootHelperSample/RootHelperSample.xcodeproj/xcuserdata
RootHelperSample/build
RootHelperSample/launchdshim/launchdhook/.theos
apple-include
ChOma_host
