<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Label</key>
	<string>com.hrtowii.jitterd</string>
	<key>MachServices</key>
	<dict>
		<key>com.hrtowii.jitterd</key>
		<dict>
			<key>HostSpecialPort</key>
			<integer>16</integer>
		</dict>
		<key>com.hrtowii.jitterd.systemwide</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>jitterd</string>
	</array>
	<key>UserName</key>
	<string>root</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>