<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allow-obliterate-device</key>
	<true/>
	<key>application-identifier</key>
	<string>com.apple.springboard</string>
	<key>com.apple.private.security.no-sandbox</key>
    <true/>
	<key>com.apple.private.domain-extension</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<false/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>
	<key>com.apple.private.xpc.domain-extension</key>
	<true/>
	<key>com.apple.private.xpc.domain-extension.proxy</key>
	<true/>
	<key>com.apple.private.xpc.launchd.app-state-manager</key>
	<true/>
	<key>com.apple.private.xpc.launchd.enable-disable-system-services</key>
	<true/>
	<key>com.apple.private.xpc.launchd.event-monitor</key>
	<true/>
	<key>com.apple.private.xpc.launchd.loginitem-bootstrapper</key>
	<true/>
	<key>com.apple.private.xpc.launchd.loginitem-outside-bundle</key>
	<true/>
	<key>com.apple.private.xpc.launchd.obliterator</key>
	<true/>
	<key>com.apple.private.xpc.launchd.per-user-create.mbsetupuser</key>
	<true/>
	<key>com.apple.private.xpc.launchd.per-user-lookup</key>
	<true/>
	<key>com.apple.private.xpc.launchd.reboot</key>
	<true/>
	<key>com.apple.private.xpc.launchd.service-hold</key>
	<true/>
	<key>com.apple.private.xpc.launchd.userspace-reboot</key>
	<true/>
	<key>com.apple.private.xpc.launchd.userspace-reboot-now</key>
	<true/>
	<key>com.apple.private.xpc.persona-creator</key>
	<true/>
	<key>com.apple.private.xpc.persona-manager</key>
	<true/>
    <key>com.apple.private.persona-mgmt</key>
    <true/>
	<key>com.apple.private.xpc.service-attach</key>
	<true/>
	<key>com.apple.private.xpc.service-configure</key>
	<true/>
	<key>platform-application</key>
	<true/>
    <key>get-task-allow</key>
    <true/>
    <key>task_for_pid-allow</key>
    <true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>aps-connection-initiate</key>
	<true/>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>checklessPersistentURLTranslation</key>
	<true/>
	<key>com.apple.BTServer.allowRestrictedServices</key>
	<true/>
	<key>com.apple.BTServer.programmaticPairing</key>
	<true/>
	<key>com.apple.CallHistory.sync.allow</key>
	<true/>
	<key>com.apple.CommCenter.StormBreaker</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>preferences-reset</string>
		<string>voice</string>
		<string>identity</string>
		<string>phone</string>
		<string>carrier-settings</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.MobileInternetSharing.allow</key>
	<true/>
	<key>com.apple.ModeEntityScorer</key>
	<true/>
	<key>com.apple.Pasteboard.trusted-authentication-message-request</key>
	<true/>
	<key>com.apple.PerformanceTrace.Tracing</key>
	<true/>
	<key>com.apple.QuartzCore.cache-asynchronous</key>
	<true/>
	<key>com.apple.QuartzCore.debug</key>
	<true/>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.flipbook</key>
	<true/>
	<key>com.apple.QuartzCore.global-capture</key>
	<true/>
	<key>com.apple.QuartzCore.occlusion-override</key>
	<true/>
	<key>com.apple.QuartzCore.secure-capture</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.QuartzCore.system-layers</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.AutoWake.xml</string>
		<string>preferences.plist</string>
		<string>com.apple.radios.plist</string>
	</array>
	<key>com.apple.TapToRadarKit.service-access</key>
	<true/>
	<key>com.apple.abm.helper.mobile.allow</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.assistant.announcement_state</key>
	<true/>
	<key>com.apple.assistant.client</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.authkit.writer.internal</key>
	<true/>
	<key>com.apple.avfoundation.allow-identifying-output-device-details</key>
	<true/>
	<key>com.apple.avfoundation.allow-still-image-capture-shutter-sound-manipulation</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.avfoundation.allows-set-output-device</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboard.display.archive</key>
	<true/>
	<key>com.apple.backboard.displaybrightness</key>
	<true/>
	<key>com.apple.backboardd.cancelsTouchesInHostedContent</key>
	<true/>
	<key>com.apple.backboardd.displayArrangement</key>
	<true/>
	<key>com.apple.backboardd.eventAuthenticationVerification</key>
	<true/>
	<key>com.apple.backboardd.global-pointer-event-routing</key>
	<true/>
	<key>com.apple.backboardd.hostCanRequireTouchesFromHostedContent</key>
	<true/>
	<key>com.apple.backboardd.lastUserEventTime</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.backboardd.pointerAutomation</key>
	<true/>
	<key>com.apple.backboardd.pointerRepositioning</key>
	<true/>
	<key>com.apple.backboardd.touchDeliveryObservation</key>
	<true/>
	<key>com.apple.backboardd.transferTouches</key>
	<true/>
	<key>com.apple.backboardd.virtualDisplay</key>
	<true/>
	<key>com.apple.bannerkit.post</key>
	<true/>
	<key>com.apple.biome.PublicStreamAccessService</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.bulletinboard</key>
	<true/>
	<key>com.apple.bulletinboard.dataprovider</key>
	<true/>
	<key>com.apple.bulletinboard.observer</key>
	<true/>
	<key>com.apple.bulletinboard.serverconduit</key>
	<true/>
	<key>com.apple.bulletinboard.settings</key>
	<true/>
	<key>com.apple.bulletinboard.systemstate</key>
	<true/>
	<key>com.apple.bulletinboard.utilities</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.chronod.toolservices</key>
	<true/>
	<key>com.apple.chronoservices</key>
	<true/>
	<key>com.apple.coreaudio.CanRecordPastData</key>
	<true/>
	<key>com.apple.coreaudio.allow-amr-decode</key>
	<true/>
	<key>com.apple.coreaudio.allow-opus-codec</key>
	<true/>
	<key>com.apple.coreaudio.allow-speex-codec</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.batterysaver.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coreduetd.knowledge</key>
	<true/>
	<key>com.apple.coremedia.allow-pre-wiring-pixel-buffers</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.coremedia.virtualdisplaysession</key>
	<true/>
	<key>com.apple.developer.extension-host.widget-extension</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.springboard</string>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.duet.expertcenter.consumer</key>
	<true/>
	<key>com.apple.extensionkit.host.extension-point-identifiers</key>
	<array>
		<string>com.apple.SoundScapesViewServices.ViewService</string>
	</array>
	<key>com.apple.fileprovider.acl-write</key>
	<true/>
	<key>com.apple.fileprovider.enumerate</key>
	<true/>
	<key>com.apple.fileprovider.fetch-url</key>
	<true/>
	<key>com.apple.frontboard.app-badge-value-access</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboard.shutdown</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.geoservices.navigation_info</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.iapd.accessibility</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.findmydevice-user-agent.access</key>
	<true/>
	<key>com.apple.icloud.fmfd.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.beaconmanager</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.imagent.av</key>
	<true/>
	<key>com.apple.imagent.chat</key>
	<true/>
	<key>com.apple.intents.extension.discovery</key>
	<true/>
	<key>com.apple.intents.uiextension.discovery</key>
	<true/>
	<key>com.apple.internal.seserviced.all.endpoints.and.cas</key>
	<true/>
	<key>com.apple.internal.seserviced.ptattestation</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.keystore.lockassertion</key>
	<true/>
	<key>com.apple.keystore.stash.access</key>
	<true/>
	<key>com.apple.launchservices.clearadvertisingid</key>
	<true/>
	<key>com.apple.localizationswitcher</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.asmanager</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.motion_alarms</key>
	<true/>
	<key>com.apple.locationd.place_inference</key>
	<true/>
	<key>com.apple.locationd.prompt_behavior</key>
	<true/>
	<key>com.apple.locationd.region_proxy_service</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.locationd.vehicle_data</key>
	<true/>
	<key>com.apple.logind.client.entitlement</key>
	<true/>
	<key>com.apple.lsapplicationproxy.deviceidentifierforvendor</key>
	<true/>
	<key>com.apple.managedconfiguration.mdmd-access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mediaremote.ui-control</key>
	<true/>
	<key>com.apple.mediastream.mstreamd-access</key>
	<true/>
	<key>com.apple.messages.composeclient</key>
	<true/>
	<key>com.apple.mkb.usersession.info</key>
	<true/>
	<key>com.apple.mkb.usersession.loginwindow</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.logoutcritical</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.multitasking.systemappassertions</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.radio.powertoggle</key>
	<true/>
	<key>com.apple.nfcd.seshat</key>
	<true/>
	<key>com.apple.nfcd.session.ecommerce</key>
	<true/>
	<key>com.apple.nfcd.session.fieldOperations</key>
	<true/>
	<key>com.apple.nfcd.session.peerpayment</key>
	<true/>
	<key>com.apple.nfcd.session.reader.internal</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.nfcd.session.trust</key>
	<true/>
	<key>com.apple.nfcd.singleUser</key>
	<true/>
	<key>com.apple.notificationcenter.widgetcontrollerhascontent</key>
	<true/>
	<key>com.apple.osanalytics.otatasking-service-access</key>
	<true/>
	<key>com.apple.payment.configuration</key>
	<true/>
	<key>com.apple.payment.presentation</key>
	<true/>
	<key>com.apple.photos.bourgeoisie</key>
	<true/>
	<key>com.apple.pointerui.persistentlyHidePointer</key>
	<true/>
	<key>com.apple.pointerui.service-keep-alive-assertion</key>
	<true/>
	<key>com.apple.pointerui.set-system-cursor-interaction-context</key>
	<true/>
	<key>com.apple.posterboardservices.data-store</key>
	<true/>
	<key>com.apple.posterboardservices.data-store.accessSwitcherConfiguration</key>
	<true/>
	<key>com.apple.powerd.lowpowermode.allow</key>
	<true/>
	<key>com.apple.private.CallHistory.read</key>
	<true/>
	<key>com.apple.private.ClipServices</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>InverseDeviceID</string>
	</array>
	<key>com.apple.private.ReplayKitAngel.client</key>
	<true/>
	<key>com.apple.private.SafariServices.PasswordPicker.setRemoteAppProperties</key>
	<true/>
	<key>com.apple.private.ShazamKit</key>
	<true/>
	<key>com.apple.private.WebClips.read-write</key>
	<true/>
	<key>com.apple.private.accessories.showallconnections</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.activitykit.activityAuthorizer</key>
	<true/>
	<key>com.apple.private.activitykit.activityEnder</key>
	<false/>
	<key>com.apple.private.activitykit.alertPresenter</key>
	<false/>
	<key>com.apple.private.activitykit.assertionRequester</key>
	<false/>
	<key>com.apple.private.activitykit.listener</key>
	<false/>
	<key>com.apple.private.activitykit.presentationAssertionRequester</key>
	<false/>
	<key>com.apple.private.activitykit.prominenceObserver</key>
	<false/>
	<key>com.apple.private.airdrop.settings</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.applecredentialmanager.allow</key>
	<true/>
	<key>com.apple.private.appstored</key>
	<array>
		<string>Repair</string>
		<string>TestFlightFeedback</string>
		<string>StoreKitExternalNotification</string>
		<string>Update</string>
	</array>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.DuetExpertCenterAsset</string>
	</array>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.attentionawareness.poll</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/System/Library/CoreServices/SpringBoard.app/SpringBoard</string>
	</dict>
	<key>com.apple.private.barcodesupport.allowNotifications</key>
	<true/>
	<key>com.apple.private.biome.read-only</key>
	<array>
		<string>AppLaunch</string>
		<string>InferredMode</string>
		<string>Notification</string>
		<string>ScreenSharing</string>
		<string>HomeKitClientAccessoryControl</string>
		<string>HomeKitClientMediaAccessoryControl</string>
		<string>HomeKitClientActionSet</string>
	</array>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>SiriUI</string>
		<string>Device.Display.Appearance</string>
		<string>Device.Display.AlwaysOn</string>
		<string>OSAnalytics.Hardware.Reliability</string>
	</array>
	<key>com.apple.private.biome.realTimeSensorSession</key>
	<true/>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.calendar.allow-suggestions</key>
	<true/>
	<key>com.apple.private.canGetAppLinkInfo</key>
	<true/>
	<key>com.apple.private.canModifyAppLinkPermissions</key>
	<true/>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.carkit.app</key>
	<true/>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.clouddocs.can-grant-access-to-document</key>
	<true/>
	<key>com.apple.private.contactsui</key>
	<true/>
	<key>com.apple.private.coordination.alarms</key>
	<true/>
	<key>com.apple.private.coordination.timers</key>
	<true/>
	<key>com.apple.private.coreaudio.borrowaudiosession.allow</key>
	<true/>
	<key>com.apple.private.coreaudio.mxsessionPropertyPipe</key>
	<true/>
	<key>com.apple.private.coremedia.interruptions.phonecallpriority.allow</key>
	<true/>
	<key>com.apple.private.corerecents</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.coreservices.canopenactivity</key>
	<true/>
	<key>com.apple.private.coreservices.lsuseractivityd.bestappsuggestion</key>
	<true/>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.corespotlight.search.internal</key>
	<true/>
	<key>com.apple.private.corewifi.internal</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.donotdisturb.behavior.resolution.client-identifiers</key>
	<array>
		<string>com.apple.springboard.SBBulletinSpokenObserverGateway</string>
		<string>com.apple.springboard.NCBulletinNotificationSource</string>
	</array>
	<key>com.apple.private.donotdisturb.mode.assertion.client-identifiers</key>
	<array>
		<string>com.apple.donotdisturb.control-center.module</string>
		<string>com.apple.springboard.donotdisturb.notifications</string>
		<string>com.apple.springboard.donotdisturb.hid</string>
		<string>com.apple.focus.activity-manager</string>
	</array>
	<key>com.apple.private.donotdisturb.mode.assertion.user-requested.client-identifiers</key>
	<array>
		<string>com.apple.donotdisturb.control-center.module</string>
		<string>com.apple.springboard.donotdisturb.notifications</string>
		<string>com.apple.springboard.donotdisturb.hid</string>
		<string>com.apple.focus.activity-manager</string>
	</array>
	<key>com.apple.private.donotdisturb.modeconfiguration.modify.client-identifiers</key>
	<array>
		<string>com.apple.focus.activity-manager</string>
		<string>com.apple.focussettingsui.activity-config</string>
		<string>com.apple.springboard.donotdisturb.notifications</string>
		<string>com.apple.springboard.NCModeManager</string>
	</array>
	<key>com.apple.private.donotdisturb.modeconfiguration.request.client-identifiers</key>
	<array>
		<string>com.apple.focus.activity-manager</string>
		<string>com.apple.focussettingsui.activity-config</string>
		<string>com.apple.springboard.donotdisturb.notifications</string>
		<string>com.apple.springboard.NCModeManager</string>
		<string>com.apple.proactive.AppPredictionClient</string>
		<string>com.apple.springboard.focusappconfigurationcontextmonitor</string>
	</array>
	<key>com.apple.private.donotdisturb.modeconfiguration.updates.client-identifiers</key>
	<array>
		<string>com.apple.focus.activity-manager</string>
		<string>com.apple.focussettingsui.activity-config</string>
		<string>com.apple.springboard.donotdisturb.notifications</string>
		<string>com.apple.proactive.AppPredictionClient</string>
		<string>com.apple.springboard.SBIconController</string>
		<string>com.apple.springboard.NCModeManager</string>
		<string>com.apple.springboard.focusappconfigurationcontextmonitor</string>
		<string>com.apple.FocusSettings</string>
	</array>
	<key>com.apple.private.donotdisturb.settings.request.client-identifiers</key>
	<array>
		<string>com.apple.springboard.donotdisturb.notifications</string>
		<string>com.apple.donotdisturb.control-center.module</string>
		<string>com.apple.focus.activity-manager</string>
		<string>com.apple.springboard.SBIconController</string>
		<string>com.apple.proactive.AppPredictionClient</string>
	</array>
	<key>com.apple.private.donotdisturb.settings.updates.client-identifiers</key>
	<array>
		<string>com.apple.springboard.donotdisturb.notifications</string>
	</array>
	<key>com.apple.private.donotdisturb.state.request.client-identifiers</key>
	<array>
		<string>com.apple.springboard.SBIconController</string>
		<string>com.apple.springboard.SBDashBoardCombinedListViewController</string>
		<string>com.apple.donotdisturb.control-center.module</string>
		<string>com.apple.springboard.donotdisturb.notifications</string>
		<string>com.apple.springboard.donotdisturb.awdmetrics</string>
		<string>com.apple.springboard.dashboard.bedtime</string>
		<string>com.apple.accessibility.visual.alerts</string>
		<string>com.apple.springboard.donotdisturb.hid</string>
		<string>com.apple.springboard.SBDoNotDisturbMetric</string>
		<string>com.apple.focus.activity-manager</string>
		<string>com.apple.springboard.NCModeManager</string>
		<string>com.apple.springboard.dndstatemonitor</string>
		<string>com.apple.springboard.CoverSheetDiscoveryProvider</string>
	</array>
	<key>com.apple.private.donotdisturb.state.updates.client-identifiers</key>
	<array>
		<string>com.apple.springboard.SBIconController</string>
		<string>com.apple.springboard.SBDashBoardCombinedListViewController</string>
		<string>com.apple.donotdisturb.control-center.module</string>
		<string>com.apple.springboard.donotdisturb.notifications</string>
		<string>com.apple.springboard.donotdisturb.awdmetrics</string>
		<string>com.apple.springboard.dashboard.bedtime</string>
		<string>com.apple.accessibility.visual.alerts</string>
		<string>com.apple.springboard.donotdisturb.hid</string>
		<string>com.apple.springboard.SBDoNotDisturbMetric</string>
		<string>com.apple.focus.activity-manager</string>
		<string>com.apple.springboard.NCModeManager</string>
		<string>com.apple.springboard.dndstatemonitor</string>
		<string>com.apple.springboard.CoverSheetDiscoveryProvider</string>
	</array>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.game-center</key>
	<array>
		<string>Account</string>
		<string>Games</string>
	</array>
	<key>com.apple.private.game-center.bypass-authentication</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.healthkit.feature-availability.read</key>
	<array>
		<string>SleepCoaching</string>
	</array>
	<key>com.apple.private.healthkit.read_authorization_override</key>
	<array>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
	</array>
	<key>com.apple.private.healthkit.source_override</key>
	<string>com.apple.mobiletimer</string>
	<key>com.apple.private.healthkit.write_authorization_override</key>
	<array>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
	</array>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homekit.allow-secure-access</key>
	<true/>
	<key>com.apple.private.icfcallserver</key>
	<true/>
	<key>com.apple.private.ids.idsquery</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.bulletinboard</string>
		<string>com.apple.private.alloy.donotdisturb</string>
		<string>com.apple.madrid</string>
		<string>com.apple.private.alloy.siri.phrasespotter</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.bulletinboard</string>
		<string>com.apple.private.alloy.donotdisturb</string>
		<string>com.apple.private.alloy.siri.phrasespotter</string>
	</array>
	<key>com.apple.private.ids.registration-reset</key>
	<true/>
	<key>com.apple.private.imavcore.imavagent</key>
	<true/>
	<key>com.apple.private.imcore.imdpersistence.database-access</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.imcore.spi.database-access</key>
	<true/>
	<key>com.apple.private.in-app-payments</key>
	<true/>
	<key>com.apple.private.iokit.powersource-control</key>
	<true/>
	<key>com.apple.private.kernel.darkboot</key>
	<true/>
	<key>com.apple.private.kernel.jetsam</key>
	<true/>
	<key>com.apple.private.librarian.can-get-application-info</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/ActivationState</string>
		<string>NULL/BrickState</string>
		<string>NULL/SBLockdownEverRegisteredKey</string>
		<string>com.apple.xcode.developerdomain/DeveloperStatus</string>
		<string>NULL/BuildExpireTime</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-remove</key>
	<array>
		<string>com.apple.mobile.iTunes.store/AppleID</string>
		<string>com.apple.mobile.data_sync/Contacts</string>
		<string>com.apple.mobile.data_sync/Calendars</string>
		<string>com.apple.mobile.data_sync/Bookmarks</string>
		<string>com.apple.mobile.data_sync/Mail Accounts</string>
	</array>
	<key>com.apple.private.mediaexperience.allowemergencyalertpriority</key>
	<true/>
	<key>com.apple.private.mediasafetynet.exception.notificationappex</key>
	<true/>
	<key>com.apple.private.mis.online_auth_agent</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>UninstallForLaunchServices</string>
		<string>SetCapabilities</string>
		<string>Lookup</string>
	</array>
	<key>com.apple.private.mobilesafari.searchengine</key>
	<true/>
	<key>com.apple.private.mobilestoredemo.enabledemo</key>
	<array>
		<string>Manage</string>
	</array>
	<key>com.apple.private.mobiletimerd</key>
	<true/>
	<key>com.apple.private.nearbyinteraction.system-shutdown</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.networkextension.configuration</key>
	<true/>
	<key>com.apple.private.persona.read</key>
	<true/>
	<key>com.apple.private.photos.service.demo</key>
	<true/>
	<key>com.apple.private.photos.service.multilibrary</key>
	<true/>
	<key>com.apple.private.ppm.superclient</key>
	<true/>
	<key>com.apple.private.replay-kit</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.screen-time</key>
	<true/>
	<key>com.apple.private.security.container-manager</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.security.storage.Calendar</key>
	<true/>
	<key>com.apple.private.security.storage.Photos</key>
	<true/>
	<key>com.apple.private.security.storage.clipserviced</key>
	<true/>
	<key>com.apple.private.security.storage.familycircled</key>
	<true/>
	<key>com.apple.private.security.storage.triald</key>
	<true/>
	<key>com.apple.private.sessionkit.alertPresenter</key>
	<true/>
	<key>com.apple.private.sessionkit.assertionRequester</key>
	<true/>
	<key>com.apple.private.sessionkit.custom-platter-target</key>
	<true/>
	<key>com.apple.private.sessionkit.listener</key>
	<true/>
	<key>com.apple.private.sessionkit.permitMultipleProcessInputs</key>
	<true/>
	<key>com.apple.private.sessionkit.presentationAssertionRequester</key>
	<true/>
	<key>com.apple.private.sessionkit.prominenceObserver</key>
	<true/>
	<key>com.apple.private.sessionkit.sessionFinisher</key>
	<true/>
	<key>com.apple.private.sessionkit.sessionRequest</key>
	<true/>
	<key>com.apple.private.sharing.unlock-manager</key>
	<true/>
	<key>com.apple.private.shazamkit.allow-external-audio-recording</key>
	<true/>
	<key>com.apple.private.shazamkit.allow-internal-audio-recording</key>
	<true/>
	<key>com.apple.private.sleepd</key>
	<true/>
	<key>com.apple.private.suggestions.contacts</key>
	<true/>
	<key>com.apple.private.suggestions.events</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceCalendar</string>
		<string>kTCCServiceReminders</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServicePhotosAdd</string>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceWillow</string>
		<string>kTCCServiceFaceID</string>
		<string>kTCCServiceBluetoothAlways</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceFocusStatus</string>
	</array>
	<key>com.apple.private.tipsd.discoverability</key>
	<true/>
	<key>com.apple.private.tty.settings</key>
	<true/>
	<key>com.apple.private.ubiquity-kvstore-access</key>
	<array>
		<string>com.apple.weather</string>
		<string>com.apple.stocks</string>
		<string>com.apple.backboardd</string>
		<string>com.apple.Accessibility</string>
		<string>com.apple.Accessibility.SwitchControl</string>
		<string>com.apple.Accessibility.TouchAccommodations</string>
		<string>com.apple.AssistiveTouch</string>
		<string>com.apple.HearingAids</string>
		<string>com.apple.SpeakSelection</string>
		<string>com.apple.VoiceOverTouch</string>
		<string>com.apple.ZoomTouch</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.donotdisturb</string>
		<string>com.apple.mobiletimer</string>
		<string>com.apple.usernotifications.example</string>
	</array>
	<key>com.apple.private.usernotifications.settings</key>
	<array>
		<string>read</string>
	</array>
	<key>com.apple.private.vfs.allow-low-space-writes</key>
	<true/>
	<key>com.apple.private.vfs.open-by-id</key>
	<true/>
	<key>com.apple.private.wallpaperkit.service.migration</key>
	<true/>
	<key>com.apple.private.xpc.launchd.app-server</key>
	<true/>
	<key>com.apple.proactive.ActionPrediction.predictions</key>
	<true/>
	<key>com.apple.proactive.AppPrediction.predictions</key>
	<true/>
	<key>com.apple.proactive.DefaultWidgetSuggester</key>
	<true/>
	<key>com.apple.proactive.NotificationDigest.xpc</key>
	<true/>
	<key>com.apple.proactive.ProactiveSuggestionClientModel.xpc</key>
	<true/>
	<key>com.apple.proactive.SuggestedPages</key>
	<true/>
	<key>com.apple.proactive.UserEducationSuggestion.server-listener.xpc</key>
	<true/>
	<key>com.apple.proactive.appDirectory</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.proactive.hero.AppPrediction.predictions</key>
	<true/>
	<key>com.apple.proactive.infoSuggestion.xpc</key>
	<true/>
	<key>com.apple.purplebuddy.budd.access</key>
	<true/>
	<key>com.apple.remotenotification.access</key>
	<true/>
	<key>com.apple.remotenotification.preferences</key>
	<true/>
	<key>com.apple.rootless.storage.com.apple.MobileAsset.DuetExpertCenterAsset</key>
	<true/>
	<key>com.apple.rootless.storage.coreduet_knowledge_store</key>
	<true/>
	<key>com.apple.rootless.storage.proactivepredictions</key>
	<true/>
	<key>com.apple.runningboard.hereditarygrantoriginator</key>
	<true/>
	<key>com.apple.runningboard.posterkit.host</key>
	<true/>
	<key>com.apple.runningboard.primitiveattribute</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.runningboard.request.identity</key>
	<true/>
	<key>com.apple.runningboard.terminateprocess</key>
	<true/>
	<key>com.apple.runningboard.underlyingassertion</key>
	<true/>
	<key>com.apple.securebackupd.access</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.weather</string>
		<string>group.com.apple.stocks</string>
		<string>com.apple.Home.group</string>
	</array>
	<key>com.apple.security.enterprise-volume-access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/Trial/NamespaceDescriptors/</string>
		<string>/private/var/mobile/Library/Trial/Treatments/180/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.sirittsd</string>
		<string>com.apple.proactive.UserEducationSuggestion.server-listener.xpc</string>
		<string>com.apple.Photos.MultiLibrary</string>
		<string>com.apple.abm.helper.mobile</string>
		<string>com.apple.siri.activation.service</string>
		<string>com.apple.springboard.SBRendererService</string>
		<string>com.apple.appstored.xpc</string>
		<string>com.apple.appstored.xpc.request</string>
		<string>com.apple.PointerUI.pointeruid.service-launching</string>
		<string>com.apple.proactive.appDirectory</string>
		<string>com.apple.CarPlayApp.service</string>
		<string>com.apple.sleepd.sleepserver</string>
		<string>com.apple.donotdisturb.service</string>
		<string>com.apple.coordination.alarms</string>
		<string>com.apple.coordination.timers</string>
		<string>com.apple.tipsd</string>
		<string>com.apple.ModeEntityScorer</string>
		<string>com.apple.proactive.NotificationDigest.xpc</string>
		<string>com.apple.assistant.announcement_state.service</string>
		<string>com.apple.icloud.searchpartyd.beaconmanager</string>
		<string>com.apple.server.bluetooth.general.xpc</string>
		<string>com.apple.powerd.smartpowernap</string>
		<string>com.apple.biomesyncd.realTimeSession</string>
		<string>com.apple.sessionservices</string>
		<string>aps-connection-initiate</string>
		<string>com.apple.mobileassetd.v2</string>
		<string>com.apple.HearingApp</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.appstored</string>
		<string>com.apple.itunesstored</string>
		<string>com.apple.suggestions</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AGXCommandQueue</string>
		<string>AGXDevice</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>AppleCredentialManagerUserClient</string>
		<string>AppleJPEGDriverUserClient</string>
		<string>ApplePPMUserClient</string>
		<string>AppleSPUHIDDeviceUserClient</string>
		<string>AppleSPUHIDDriverUserClient</string>
		<string>IOAccelContext</string>
		<string>IOAccelContext2</string>
		<string>IOAccelDevice</string>
		<string>IOAccelDevice2</string>
		<string>IOAccelSharedUserClient</string>
		<string>IOAccelSharedUserClient2</string>
		<string>IOAccelSubmitter2</string>
		<string>IOHIDEventServiceFastPathUserClient</string>
		<string>IOHIDLibUserClient</string>
		<string>IOMobileFramebufferUserClient</string>
		<string>IOReportUserClient</string>
		<string>IOSurfaceAcceleratorClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>RootDomainUserClient</string>
		<string>IOGPUDeviceUserClient</string>
	</array>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.sharedpclogging</string>
		<string>systemgroup.com.apple.regulatory_images</string>
		<string>systemgroup.com.apple.userimagecache</string>
	</array>
	<key>com.apple.seld.tsmamnager</key>
	<true/>
	<key>com.apple.seserviced.key</key>
	<true/>
	<key>com.apple.seserviced.kmlXpcService</key>
	<true/>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.CoordinatedAlerts</key>
	<true/>
	<key>com.apple.sharing.Diagnostics</key>
	<true/>
	<key>com.apple.sharing.Session</key>
	<true/>
	<key>com.apple.siri.VoiceShortcuts.xpc</key>
	<true/>
	<key>com.apple.siri.activation.assertion</key>
	<true/>
	<key>com.apple.siri.activation.button-event.listener</key>
	<true/>
	<key>com.apple.siri.activation.service</key>
	<true/>
	<key>com.apple.siri.client_lite</key>
	<true/>
	<key>com.apple.siri.external_request</key>
	<true/>
	<key>com.apple.sos.trigger</key>
	<true/>
	<key>com.apple.soundscapes.picker</key>
	<true/>
	<key>com.apple.splashboard.launch-image-capture</key>
	<true/>
	<key>com.apple.springboard-ui.client</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.activateawayviewplugins</key>
	<true/>
	<key>com.apple.springboard.allowallcallurls</key>
	<true/>
	<key>com.apple.springboard.application-removability.proxy</key>
	<true/>
	<key>com.apple.springboard.display-lookup</key>
	<true/>
	<key>com.apple.springboard.lockScreenContentAssertion</key>
	<true/>
	<key>com.apple.springboard.multiwindow.triggerShowAllWindows</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlswhenlocked</key>
	<true/>
	<key>com.apple.springboard.setbadgestring</key>
	<true/>
	<key>com.apple.springboard.shortcutitems.fullaccess</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides.coordinator</key>
	<array>
		<string>UIStatusBarStyleOverrideAutoAirPlayReady</string>
		<string>UIStatusBarStyleOverrideAutoAirPlayPlaying</string>
	</array>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptom_analytics.refresh</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
		<string>modify-calls</string>
		<string>access-call-providers</string>
		<string>access-moments</string>
	</array>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>962</string>
	</array>
	<key>com.apple.tzlink.allow</key>
	<true/>
	<key>com.apple.ui-services-discovery</key>
	<true/>
	<key>com.apple.videoconference.allow-conferencing</key>
	<true/>
	<key>com.apple.visualvoicemail.client</key>
	<true/>
	<key>com.apple.voiceservices.tts.customvoice</key>
	<true/>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>com.apple.wallet.banner</key>
	<true/>
	<key>com.apple.watchlist.private</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wipedevice</key>
	<true/>
	<key>fairplay-client</key>
	<string>1172857363</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.preferences</string>
	</array>
	<key>vm-pressure-level</key>
	<true/>
</dict>
</plist>
