<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.security.storage-exempt.heritable</key>
    <true/>
	<key>application-identifier</key>
	<string>com.apple.lskdd</string>
	<key>checklessPersistentURLTranslation</key>
	<true/>
	<key>com.apple.BTServer.le</key>
	<true/>
	<key>com.apple.BluetoothServices</key>
	<true/>
	<key>com.apple.BluetoothServices.cloud</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.MFAAuthentication</key>
	<array>
		<string>certificate-auth</string>
		<string>pairing</string>
		<string>token-auth</string>
	</array>
	<key>com.apple.MediaGroups.client</key>
	<true/>
	<key>com.apple.MediaGroups.groups</key>
	<array>
		<string>com.apple.media-group.solo-HomePodAccessory</string>
		<string>com.apple.media-group.solo-SpeakerAccessory</string>
		<string>com.apple.media-group.solo-AudioReceiverAccessory</string>
		<string>com.apple.media-group.PSG</string>
		<string>com.apple.media-group.media-system</string>
		<string>com.apple.media-group.room</string>
	</array>
	<key>com.apple.MobileAsset.VoiceTriggerAssetsWatch</key>
	<true/>
	<key>com.apple.PairingManager.HomeKit</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.TapToRadarKit.service-access</key>
	<true/>
	<key>com.apple.airplay.receivercontroller</key>
	<true/>
	<key>com.apple.aned.private.allow</key>
	<true/>
	<key>com.apple.aop.fastpath.user-client</key>
	<dict>
		<key>imu800</key>
		<dict>
			<key>read</key>
			<dict/>
		</dict>
	</dict>
	<key>com.apple.aop.hid-device.user-client</key>
	<dict>
		<key>gesture</key>
		<dict>
			<key>send-command</key>
			<dict/>
		</dict>
		<key>orientation</key>
		<dict>
			<key>send-command</key>
			<dict/>
		</dict>
	</dict>
	<key>com.apple.appleneuralengine.private.allow</key>
	<true/>
	<key>com.apple.assistant.dictation.prerecorded</key>
	<true/>
	<key>com.apple.avfoundation.allow-video-data-output-to-change-output-dimensions</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.estimatedProximityDetection</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.backboardd.virtualDisplay</key>
	<true/>
	<key>com.apple.bluetooth.internal</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.camera.iokit-user-access</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.carousel.onWristMonitor.actions</key>
	<string>monitor</string>
	<key>com.apple.coreaudio.app-tap</key>
	<true/>
	<key>com.apple.coreaudio.private.SystemWideTap</key>
	<true/>
	<key>com.apple.coreaudio.register-internal-aus</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.corespeech.corespeechd.activation.xpc</key>
	<true/>
	<key>com.apple.corespeech.xpc</key>
	<true/>
	<key>com.apple.corespeechd.activation</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.driverkit.userclient-access</key>
	<array>
		<string>com.apple.DriverKit-AppleBCMWLAN</string>
	</array>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.networking.multipath</key>
	<true/>
	<key>com.apple.developer.networking.route_nc_read</key>
	<true/>
	<key>com.apple.driver.AppleBasebandPCI.user-access</key>
	<true/>
	<key>com.apple.driver.AppleBasebandPCIControl.user-access</key>
	<true/>
	<key>com.apple.driver.AppleConvergedIPCICEBB.user-access</key>
	<true/>
	<key>com.apple.driver.AppleConvergedIPCICEBBControl.user-access</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.hid.system.user-access-fast-path</key>
	<true/>
	<key>com.apple.iaptransportd.clientport</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.mediaanalysisd.client</key>
	<true/>
	<key>com.apple.mediaremote.send-commands</key>
	<true/>
	<key>com.apple.mkb.usersession.info</key>
	<true/>
	<key>com.apple.multitasking.unlimitedassertions</key>
	<true/>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.nearbyinteraction.background</key>
	<true/>
	<key>com.apple.networkd.set_source_application</key>
	<true/>
	<key>com.apple.networkd_privileged</key>
	<true/>
	<key>com.apple.private.CarPlayServices.app-history</key>
	<true/>
	<key>com.apple.private.DistributedEvaluation.RecordAccess-com.apple.fides.borealis</key>
	<true/>
	<key>com.apple.private.DistributedEvaluation.RecordAccess-com.apple.fides.phs</key>
	<true/>
	<key>com.apple.private.FairPlayIOKitUserClient.access</key>
	<true/>
	<key>com.apple.private.IOSurface.wiredSendRights</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.userManagedAssets</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>SysCfgDict</string>
	</array>
	<key>com.apple.private.accessories.showallconnections</key>
	<true/>
	<key>com.apple.private.allow-explicit-graphics-priority</key>
	<true/>
	<key>com.apple.private.allow-external-storage</key>
	<true/>
	<key>com.apple.private.aop-audio.user-access</key>
	<true/>
	<key>com.apple.private.aop-envsense.user-access</key>
	<true/>
	<key>com.apple.private.aop-voicetrigger.user-access</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.VoiceTriggerAssets</string>
		<string>com.apple.MobileAsset.RaiseToSpeakAssets</string>
		<string>com.apple.MobileAsset.MXLongFormVideoAppsV2</string>
		<string>com.apple.MobileAsset.AirPlayMobileAssetsV2</string>
		<string>com.apple.MobileAsset.VoiceServicesVocalizerVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.CustomVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.GryphonVoice</string>
		<string>com.apple.MobileAsset.VoiceServices.VoiceResources</string>
	</array>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/usr/sbin/mediaserverd</string>
	</dict>
	<key>com.apple.private.audio.driver-host</key>
	<true/>
	<key>com.apple.private.audio.hal.aop-audio.user-access</key>
	<true/>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>ScreenRecording</string>
		<string>ScreenSharing</string>
		<string>Media.StreamingStats</string>
	</array>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.carkit.carconnectiontime</key>
	<true/>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.cecd.control</key>
	<true/>
	<key>com.apple.private.cecd.observer</key>
	<true/>
	<key>com.apple.private.controlcenter.service.moduleidentifiers</key>
	<array>
		<string>com.apple.replaykit.VideoConferenceControlCenterModule</string>
		<string>com.apple.replaykit.AudioConferenceControlCenterModule</string>
	</array>
	<key>com.apple.private.coreaudio.borrowaudiosession.allow</key>
	<true/>
	<key>com.apple.private.coreaudio.rpbserver</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.corespeech.voicetrigger_service</key>
	<true/>
	<key>com.apple.private.corewifi</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.driverkit.driver-access</key>
	<array>
		<string>com.apple.developer.driverkit.family.audio</string>
	</array>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.healthkit.authorization_bypass</key>
	<true/>
	<key>com.apple.private.healthkit.medicaliddata</key>
	<true/>
	<key>com.apple.private.healthkit.source.default</key>
	<string>com.apple.private.health.localdevice</string>
	<key>com.apple.private.healthkit.zeppelin</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.homehubd</key>
	<array>
		<string>endpoint-read</string>
	</array>
	<key>com.apple.private.ids.link-preferences</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.fignero</string>
		<string>com.apple.private.alloy.cmsession</string>
		<string>com.apple.private.alloy.bluetooth.audio</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.cmsession</string>
		<string>com.apple.private.alloy.bluetooth.audio</string>
	</array>
	<key>com.apple.private.ids.self-session</key>
	<array>
		<string>com.apple.private.alloy.fignero</string>
	</array>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.kernel.audio_latency</key>
	<true/>
	<key>com.apple.private.kernel.clpc-alt-control</key>
	<true/>
	<key>com.apple.private.kernel.override-cpumon</key>
	<true/>
	<key>com.apple.private.kernel.system-override</key>
	<true/>
	<key>com.apple.private.kernel.work-interval</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/TrustedHostAttached</string>
	</array>
	<key>com.apple.private.logging.stream</key>
	<true/>
	<key>com.apple.private.master-sync-generator.user-access</key>
	<true/>
	<key>com.apple.private.mediaexperience.allowwombatenabled</key>
	<true/>
	<key>com.apple.private.nearbyinteraction.privileged</key>
	<true/>
	<key>com.apple.private.necp.match</key>
	<true/>
	<key>com.apple.private.network.interface-control</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nlcd-control</key>
	<true/>
	<key>com.apple.private.ppm.client</key>
	<true/>
	<key>com.apple.private.privacy.accounting.write</key>
	<true/>
	<key>com.apple.private.proreshw</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.scodec-user-client.access</key>
	<true/>
	<key>com.apple.private.security.storage.HomeAI</key>
	<true/>
	<key>com.apple.private.security.storage.Photos</key>
	<true/>
	<key>com.apple.private.security.system-async-io</key>
	<true/>
	<key>com.apple.private.stackshot.stats</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceMotion</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceSensorKitSpeechMetrics</string>
	</array>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceMotion</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.tcc.manager.get-identity-for-credential</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.coreaudio.adam.hae</string>
		<string>com.apple.coreaudio.adam.hae-watchos</string>
	</array>
	<key>com.apple.private.vfs.allow-low-space-writes</key>
	<true/>
	<key>com.apple.private.virtio.sound.user-access</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.rapport.Client</key>
	<true/>
	<key>com.apple.relatived.tempest</key>
	<true/>
	<key>com.apple.rootless.storage.facekit</key>
	<true/>
	<key>com.apple.runningboard.assertions.coremedia</key>
	<true/>
	<key>com.apple.runningboard.cameracapture</key>
	<true/>
	<key>com.apple.runningboard.mediaexperience</key>
	<true/>
	<key>com.apple.runningboard.targetidentities</key>
	<true/>
	<key>com.apple.security.device.audio-input</key>
	<true/>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>SCodecUserClient</string>
		<string>AppleIPCAudioDeviceUserClient</string>
		<string>AppleMSGKextUserClient</string>
		<string>AppleMSGKextEPICUserClient</string>
		<string>AppleSPUFastpathDriverUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.TapToRadarKit.service</string>
		<string>com.apple.mmaintenanced</string>
		<string>com.apple.memory-maintenance</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.sensorkit.writer.allow</key>
	<array>
		<string>com.apple.SensorKit.speechMetrics.telephony</string>
		<string>com.apple.SensorKit.speechEmotion.telephony</string>
		<string>com.apple.SensorKit.soundDetection.telephony</string>
	</array>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.siri.activation</key>
	<true/>
	<key>com.apple.siri.external_request</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.externaldisplay.displayArrangements</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.springboard.thermalWarningSuppression</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptom_analytics.refresh</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.systemstatus.activityattribution</key>
	<true/>
	<key>com.apple.systemstatus.publisher.domains</key>
	<string>media</string>
	<key>com.apple.tailspin.dump-output</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
		<string>modify-activity-session-airplay</string>
	</array>
	<key>com.apple.trial.client</key>
	<array>
		<string>311</string>
		<string>312</string>
	</array>
	<key>com.apple.videoconference.allow-conferencing</key>
	<true/>
	<key>com.apple.videotoolbox.hardwarevideodecoder</key>
	<true/>
	<key>com.apple.videotoolbox.leghorn</key>
	<true/>
	<key>com.apple.voiced.can-dump-audio</key>
	<true/>
	<key>com.apple.voiceservices.tts</key>
	<true/>
	<key>com.apple.voiceservices.tts.customvoice</key>
	<true/>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wifip2pd</key>
	<true/>
	<key>com.apple.wlan.authentication</key>
	<true/>
	<key>fairplay-client</key>
	<integer>883412483</integer>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.airplay</string>
		<string>com.apple.apsd</string>
		<string>com.apple.cfnetwork</string>
		<string>com.apple.identities</string>
		<string>com.apple.airplay.pairing</string>
	</array>
	<key>lskdd-client</key>
	<string>898061433</string>
	<key>secure-key-vault-client</key>
	<integer>1994590856</integer>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
</dict>
</plist>
