<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.amfi.can-execute-cdhash</key>
    <true/>
	<key>com.apple.private.security.storage-exempt.heritable</key>
    <true/>
	<key>allow-softwareupdated</key>
	<true/>
	<key>application-identifier</key>
	<string>com.apple.nfcd</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.SystemConfiguration.SCPreferences-read-access</key>
	<array>
		<string>com.apple.radios.plist</string>
	</array>
	<key>com.apple.accessibility.automation.client</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.iokit.wakerequest</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.nfcd.event.notification</key>
	<true/>
	<key>com.apple.nfcd.xpc.homed.uaevents</key>
	<true/>
	<key>com.apple.nfrestore</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueChipID</string>
		<string>SerialNumber</string>
	</array>
	<key>com.apple.private.applecredentialmanager.allow</key>
	<true/>
	<key>com.apple.private.applesmc.user-access</key>
	<true/>
	<key>com.apple.private.applesse.allow</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.MobileAsset.AppletTranslationLibraryAssets</string>
	</array>
	<key>com.apple.private.barcodesupport.allowNotifications</key>
	<true/>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>Device.Wireless.NFCTag</string>
	</array>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.mobilerepair.xpc</key>
	<true/>
	<key>com.apple.private.ppm.client</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>nfcd</string>
	<key>com.apple.private.stockholm.allow</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/hardware/FactoryData/System/Library/Caches/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.mobilerepaird</string>
		<string>com.apple.passd.nf-events</string>
		<string>com.apple.nfcd.xpc.homed.uaevents</string>
		<string>com.apple.biome.access.user</string>
		<string>com.apple.biome.PublicStreamAccessService</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.mmaintenanced</string>
		<string>com.apple.memory-maintenance</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.stockholm.analytics</string>
		<string>com.apple.ControlCenter</string>
		<string>com.apple.homed</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.sts.xpcservice.client</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.applesse</string>
	</array>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
    <key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.domain-extension</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<false/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.xpc.domain-extension</key>
	<true/>
	<key>com.apple.private.xpc.domain-extension.proxy</key>
	<true/>
	<key>com.apple.private.xpc.launchd.app-state-manager</key>
	<true/>
	<key>com.apple.private.xpc.launchd.enable-disable-system-services</key>
	<true/>
	<key>com.apple.private.xpc.launchd.event-monitor</key>
	<true/>
	<key>com.apple.private.xpc.launchd.loginitem-bootstrapper</key>
	<true/>
	<key>com.apple.private.xpc.launchd.loginitem-outside-bundle</key>
	<true/>
	<key>com.apple.private.xpc.launchd.obliterator</key>
	<true/>
	<key>com.apple.private.xpc.launchd.per-user-create.mbsetupuser</key>
	<true/>
	<key>com.apple.private.xpc.launchd.per-user-lookup</key>
	<true/>
	<key>com.apple.private.xpc.launchd.reboot</key>
	<true/>
	<key>com.apple.private.xpc.launchd.service-hold</key>
	<true/>
	<key>com.apple.private.xpc.launchd.userspace-reboot</key>
	<true/>
	<key>com.apple.private.xpc.launchd.userspace-reboot-now</key>
	<true/>
	<key>com.apple.private.xpc.persona-creator</key>
	<true/>
	<key>com.apple.private.xpc.persona-manager</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>com.apple.private.xpc.service-attach</key>
	<true/>
	<key>com.apple.private.xpc.service-configure</key>
	<true/>
	<key>com.apple.private.set-launch-type.internal</key>
	<true/>
	<key>com.apple.apfs.get-dev-by-role</key>
	<true/>
	<key>com.apple.private.amfi.can-allow-non-platform</key>
	<true/>
	<key>com.apple.private.iokit.system-nvram-allow</key>
	<true/>
	<key>com.apple.private.kernel.system-override</key>
	<true/>
	<key>com.apple.private.pmap.load-trust-cache</key>
	<array>
		<string>cryptex1.boot.os</string>
		<string>cryptex1.boot.app</string>
		<string>cryptex1.safari-downlevel</string>
	</array>
	<key>com.apple.private.record_system_event</key>
	<true/>
	<key>com.apple.private.roots-installed-read-write</key>
	<true/>
	<key>com.apple.private.security.disk-device-access</key>
	<true/>
	<key>com.apple.private.security.storage.driverkitd</key>
	<true/>
	<key>com.apple.private.security.storage.launchd</key>
	<true/>
	<key>com.apple.private.security.system-mount-authority</key>
	<true/>
	<key>com.apple.private.set-atm-diagnostic-flag</key>
	<true/>
	<key>com.apple.private.spawn-panic-crash-behavior</key>
	<true/>
	<key>com.apple.private.spawn-subsystem-root</key>
	<true/>
	<key>com.apple.private.vfs.allow-low-space-writes</key>
	<true/>
	<key>com.apple.private.vfs.graftdmg</key>
	<true/>
	<key>com.apple.private.vfs.pivot-root</key>
	<true/>
	<key>com.apple.rootless.restricted-block-devices</key>
	<true/>
	<key>com.apple.rootless.storage.early_boot_mount</key>
	<true/>
	<key>com.apple.rootless.volume.Preboot</key>
	<true/>
</dict>
</plist>
